@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 670;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),
        url(../../PPK_assets/ppk.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    margin: 0;
    padding: 0;

    position: relative;
}

.container {
    display: flex;

    width: 25em;
    height: 65%;

    background: linear-gradient(
        180deg, #9dc9ff,#ffffff, #ffaef7
    );

    border-radius: 25px;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    overflow: hidden;

    z-index: 1;

    box-shadow: 0 0 30px rgba(255,255,255,0.35);
    color: black;

    transition: 0.2s;
}

.container h1 {
    font-size: 3rem;

    padding: 0;
    margin: 0;

    position: absolute;
    top: 0.5em;
}

.container h3 {
    font-size: 1.2rem;

    padding: 0;
    margin: 0;

    position: absolute;
    top: 4.8em;

    color: rgb(94, 78, 131);
}

.frame   {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    height: 50%;

    background: rgba(255, 255, 255, 1);
    z-index: -1;

    position: absolute;
    bottom: 6em;

    gap: 1em;

    border-radius: 25px;

    color: black;
}

.frame button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 14em;

    height: 3em;

    font-size: 1.4rem;

    border: none;
    border-radius: 25px;

    transition: 0.2s;

    color: black;
}

#one {
    background-color: rgb(208, 167, 255);
}

#two {
    background-color: rgb(178, 169, 255);
}

.frame button:hover {
    transform: scale(1.05);
}

.frame button:active {
    transform: scale(0.98);
}

#three {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12em;

    height: 2.5em;

    font-size: 1.4rem;

    border: none;
    border-radius: 25px;

    transition: 0.2s;

    position: absolute;
    bottom: 1em;

    color: black;
    background-color: rgb(218, 218, 218);

    border: 2.2px solid gray;
}

#three:hover {
    transform: scale(1.05);
}

#three:active {
    transform: scale(0.98);
}
